[submodule "corrade"]
	path = external/corrade
	url = https://github.com/mosra/corrade.git
[submodule "magnum"]
	path = external/magnum
	url = https://github.com/mosra/magnum.git
[submodule "external/magnum-integration"]
	path = external/magnum-integration
	url = https://github.com/mosra/magnum-integration.git
